{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
<section id="content" class="body">
    <ul class="article-list">
    {% for article in articles %}
    <li>
        <time class="article-list-published-date" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    </li>
    {% endfor %}
    </ul>
</section>
{% else %}
<section id="content" class="body">
<h2>Pages</h2>
    {% for page in PAGES %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</section>
{% endif %}
{% endblock content %}
